version: "3.8"

services:
    frontend:
        build:
            context: .
        ports:
            - "3000:3000"
        restart: always
        env_file:
            - REACT_APP_API_URL=https://1d84797fc9f4.ngrok-free.app
